.head-container {
    display: flex;
    height: 67px;
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-bottom: 67px;
}

.header-logo {
    height: 80%;
    margin: var(--head-item-margin);
    margin-left: 70px;
}

/* Menu */
.head-center {
    display: flex;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-item {
    font-family: Montserrat, sans-serif;
    font-size: 12.8px;
    padding: 20px 0px;
    color: hsla(0, 0%, 100%, 0.8);
    text-decoration: none;
    margin: auto 20px;
    position: relative;
    display: inline-block;
}
.menu {
    bottom: 0;
    left: 0;
}

.menu-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: hsla(0, 0%, 100%, 0.8);
    /* transition: width 0.3s ease; */
    margin-bottom: 10px;
}

.menu-item:hover::before {
    width: 100%;
    left: 0;
    transition: width 0.5s ease;
}
.arrow-down {
    border: solid #9b9b9b;
    border-width: 0 1px 1px 0;
    display: inline-block;
    margin: auto 0 auto 6px;
    padding: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 3px;
}

/* Dropdown */
.dropdown {
    background-color: var(--bg-color);
    position: relative;
    display: inline-block;
}

.drop-down {
    border-radius: 7px;

    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    background-color: var(--bg-color);
}

.dropdown:hover .drop-down {
    display: block;
}

.drop-down-item {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #6c6c6c;
    text-align: center;
    font-weight: bold;
    font-family: "Barlow", sans-serif;
}

.drop-down-item:hover {
    background-color: #6c6c6c;
    color: #171717;
}
.search {
    float: left;
    padding: 22px;
    padding-left: 10px;
    cursor: pointer;
}
.head-right-box {
    /* width: 300%; */
    justify-content: center;
    align-items: center;
    float: left;
}

.telegram:hover::before {
    opacity: 1;
}
.foot-container {
    background-color: #161616;
}
.foot {
    display: block;
    width: 63%;
    margin: 0px auto;
}
.foot-row1 {
    display: flex;
    padding: 40px 0px;
}
.foot-row1-img {
    width: 15%;
    padding: 0px 30px 30px 20px;
}
.foot-row1-title {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}
.foot-row1-des {
    font-family: "Barlow", sans-serif;
    color: #f1f1f1;
    font-size: 16px;
    margin-bottom: 20px;
}
.foot-row2 {
    display: flex;
    /* padding: 40px 0px; */
}
.foot-row2-col {
    padding-left: 15px;

    width: 25%;
}
.foot-row2-col-title {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}
.foot-row2-col-item {
    display: flex;
    width: 100%;
    float: left;
}
.foot-row2-col-item-img {
    height: 100%;
    margin: auto 0px;
}
.foot-row2-col-item-text {
    font-family: "Barlow", sans-serif;
    color: #f1f1f1;
    font-size: 16px;
    padding: 5px;
    /* margin-bottom: 3px; */
}
.foot-row3-title {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    color: #fff;
    padding: 20px 0px;
    /* margin-bottom: 20px; */
}
.foot-row3-icon-container {
    display: flex;
}

footer {
    background-color: #161616;
    font-family: "Barlow", sans-serif;
    color: #ffffff80;
    padding: 10px;
    text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    /* margin: 20px 0; */
}
