/* menu text font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "head-foot.css";

:root {
    --bg-color: rgba(23, 23, 23, 255);
    --head-item-margin: 7px;
    --text-color: #9b9b9b;
    --login-main-bg: black;
    --login-text-color: white;
}
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--login-main-bg);
}

/* Main */
.main-container {
    width: 45%;
    margin: 180px auto;
    color: var(--login-text-color);
}
.form {
    display: block;
    padding: 20px;
}
.form-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-title-text {
    padding-right: 150.5px;
    width: auto;
    font-family: "Lato", sans-serif;
    font-size: 24px;
}

.form-title-icon {
    margin-top: 5px;
    /* display: flex; */
}

.form-title-icon-item {
    color: #79b5e3;
    font-size: 30px;
    cursor: pointer;
    padding: 0px 10px;
}
/* .login-form { */
    /* margin: 20px auto; */
    /* display: block; */
/* } */
.login-form-text {
    /* display: block; */
    /* width: 100%; */
    color: var(--login-text-color);
    font-family: "Lato", sans-serif;
    /* margin-top: 8px; */
    /* font-size: 16px */
    padding-bottom: 10px;
}
.login-form-box {
    border: 1px solid #9b9b9b;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
    padding: 18px 0px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #171717;
}
.login-form-box input{
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #171717;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    outline: none;
}
input{
    /* margin-left: 5px; */
    color: rgb(233, 226, 226);
    font-family: "Lato", sans-serif;
    font-size: 16px;

}

.login-form-box:hover {
    border: 1px solid rgb(240, 124, 49);
}

::placeholder {
    
    color: #9b9b9b;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    padding-left: 10px;
}
.submit-btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f07c31;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
}
.login-form-checkbox {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.checkbox-container {
    display: flex;
    /* align-items: center; */
}

.remember-text {
    margin-top: 5px;

    font-family: "Lato", sans-serif;
    color: #f07c31;
    font-size: 18px;
    padding-left: 5px;
}

.checkbox {
    transform: scale(1.3);
    margin-right: 5px;
}

.remember-me:checked + .remember-text:before {
    background-color: #f07c31; 
    border-color: #f07c31;
}

.forgot {
    font-family: "Lato", sans-serif;
    color: #cbd4cd;
    font-size: 18px;
    text-align: right;
    text-decoration: none;
    margin-left: auto; 
    margin-top: 5px;

    margin-bottom: 10px;
}

.form-foot{
    display: flex;
    margin-top: 20px;
}
.form-foot-text {
    font-family: "Lato", sans-serif;
    color: #9b9b9b;
    font-size: 18px;
    text-align: center;
    margin: 0px auto;
}
.form-foot-text a {
    color: #f07c31;
    text-decoration: none;
}
.form-foot-text a:hover{
    color: aliceblue;
    text-decoration: underline;
}
